# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# iOS/Xcode related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Android related
android/.gradle/
android/captures/
android/gradle/
android/build/

# macOS related
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/build/

# Linux related
linux/flutter/
linux/build/

# Windows related
windows/flutter/
windows/build/

# Web related
web/generated/

# Others
*.iml
*.log
*.tmp
*.swp
*.DS_Store
.idea/

# Hive boxes
*.hive
*.hive.lock
